.battle-intro {
  position: absolute;
  inset: 0;
}

.pokemon-section.battle-bg {
  background: url("img/bg1.png") center center / cover no-repeat;
}

.ui-button {
  background: #ffffff;
  border: 0.2rem solid #0d0d0d;
  color: #0d0d0d;
  font-family: 'Galmuri9';
  font-size: 1.4rem;
  padding: 0.6rem 1.2rem;
  text-align: center;
  cursor: pointer;
}

.intro-pokemon {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(150%, -50%);
  opacity: 0;
  width: 30rem;
  image-rendering: pixelated;
}

.intro-pokemon.show {
  animation: intro-pokemon-in 0.8s ease-out forwards;
}

@keyframes intro-pokemon-in {
  0% {
    transform: translate(150%, -50%);
    opacity: 0;
  }

  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

/* =========================== 포켓몬 이름 + hp 바 =========================== */

.enemy-status {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  opacity: 0;
  transition: opacity 0.4s ease-out;
  z-index: 21;
}

.enemy-status.show {
  opacity: 1;
}

.enemy-name {
  font-size: 2.4rem;
  margin-bottom: 1rem;
  color: #ffffff;
  font-family: 'Galmuri11';
  font-weight: bold;

  -webkit-text-stroke: 1px #0d0d0d;

}

.enemy-hp-bar {
  width: 50rem;
  height: 1.2rem;
  border: 0.2rem solid #0d0d0d;
  background: rgba(51, 51, 68, 0.5);
  overflow: hidden;
  margin: 0 auto;
}

.enemy-hp-fill {
  width: 100%;
  height: 100%;
  background: #7CFC00;
  transition: width 0.4s ease-out;
}

/* =========================== 내 이름 + hp 바 =========================== */

.player-status {
  position: absolute;
  left: 0;
  bottom: 30%;
  opacity: 0;
  transform: translateY(10px);
  transition:
    opacity 0.4s ease-out,
    transform 0.4s ease-out;
  z-index: 25;
}

.player-status.show {
  opacity: 1;
  transform: translateY(0);
}

.player-box {
  background: #362D3E;
  border: 0.2rem solid #0d0d0d;
  color: #ffffff;
  padding: 0.6rem 0.9rem 0.8rem;
  min-width: 25rem;
  min-height: 7rem;
}

.player-name {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}

.player-hp-bar {
  width: 100%;
  height: 0.8rem;
  background: #0d0d0d;
  overflow: hidden;
}

.player-hp-fill {
  width: 100%;
  height: 100%;
  background: #32cd32;
  border: 0.1rem solid #0d0d0d;
  transition: width 0.4s ease-out;
}

/* =========================== 싸운다 버튼 =========================== */

.fight-button {
  position: absolute;
  right: 3%;
  bottom: 20%;
  width: 17rem;
  height: 5rem;
  font-size: 1.8rem;
  background: #362D3E;
  color: #ffffff;
  border: 0.1rem solid #C73625;
  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;
  transition:
    opacity 0.3s ease-out,
    transform 0.3s ease-out;
  z-index: 25;
}

.fight-button.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.fight-button.show:hover {
  transform: translateY(-2px);
}

/* =========================== 기술 버튼 =========================== */

.fight-skills {
  position: absolute;
  right: 3%;
  bottom: 3%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;
  transition:
    opacity 0.3s ease-out,
    transform 0.3s ease-out;
  z-index: 25;
}

.fight-skills.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.fight-skill {
  width: 18rem;
  height: 4.3rem;
  font-size: 1.4rem;
  text-align: left;
  background: #362D3E;
  color: #ffffff;
  border: 0.1rem solid #C73625;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.2;
}

.fight-skill:hover {
  transform: translateY(-1px);
}


/* =========================== 대사창 =========================== */

.dialog {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 30;

  opacity: 0;
  transform: translateY(100%);
}

.dialog.show {
  animation: dialog-slide 2.4s ease-out forwards;
}

.dialog-inner {
  width: 100%;
  background: #362D3E;
  border-top: 0.3rem solid #C73625;
  padding: 3rem 3rem 9rem;
  box-sizing: border-box;
}

.dialog-text {
  color: #ffffff;
  font-size: 2.5rem;
  text-align: left;
  word-break: keep-all;
}

@keyframes dialog-slide {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  20% {
    transform: translateY(0);
    opacity: 1;
  }

  70% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

/* =========================== 상대 포켓몬 기술 이펙트 =========================== */
.enemy-skill-layer {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 20;
}

.enemy-skill-layer img {
  position: absolute;
  image-rendering: pixelated;
}

/* =========================== 화면에 여러개 뜨는 기술 이펙트 =========================== */
.enemy-skill-layer img.effect-bomb {
  width: 20rem;
  height: 20rem;
}

/* =========================== 화면 중앙에 크게 뜨는 기술 이펙트 =========================== */
.enemy-skill-layer img.effect-shock {
  width: 40rem;
  height: 40rem;
}

#pokemon-section {
  position: relative;
}


/* =========================== 공격 당했을 때 화면 잠깐 빨갛게 =========================== */
.red-flash {
  position: absolute;
  inset: 0;
  background: rgba(255, 0, 0, 0.2);
  pointer-events: none;
  opacity: 0;
  z-index: 29;
}

/* =========================== 페이드아웃 =========================== */
.phase-transition {
  position: absolute;
  inset: 0;
  background: #000000;
  opacity: 0;
  pointer-events: none;
  z-index: 35;
}


.fight-skill .skill-desc {
  display: block;
  font-size: 1rem;
  margin-top: 0.1rem;
  color: #bcbcbc;
  pointer-events: none;
}